.entrada__cuadro{
    border: 0;
    outline: 0;
    font-size: 2.5rem;
    background: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-family: DIN-Round;
    caret-color: white;
    color: white;
    transition: .3s ease all;
}

.entrada__cuadro:focus, .entrada__cuadro:valid{
    border-bottom: 1px solid darkcyan;
}