.salida__cuadro{
    border: 0;
    outline: 0;
    font-size: 1.75rem;
    background: transparent;
    border-bottom: 1px solid rgb(28, 28, 28);
    font-family: DIN-Round;
    caret-color: gray;
    color: gray;
}